[user]
name = Ross
email = git@ross.ch
signingKey = 98B1F6BDC25DDD2560398F212B7340DB13C85766

[commit]
gpgsign = true

[color]
ui = true

[diff]
mnemonicprefix = true

[pull]
ff = only

[merge]
log = true
ff = false

[push]
default = simple

[url "https://bitbucket.org/"]
insteadOf = bb:

[url "https://github.com/"]
insteadOf = gh:

[url "https://gist.github.com/"]
insteadOf = gist:

[url "git@github.com:"]
insteadOf = https://github.com/

[tag]
forceSignAnnotated = true

[alias]
fea = fetch --all
co = checkout
cob = checkout -b
coo = !git fetch && git checkout
br = branch
brd = branch -d
brD = branch -D
merged = branch --merged
st = status
aa = add -A .
cm = commit -m
aacm = !git add -A . && git commit -m
cp = cherry-pick
amend = commit --amend -m
po = push origin
pu = !git push origin $(git branch --show-current)
plo = pull origin
plod = pull origin dev
plos = pull origin staging
plom = pull origin master
ploh = pull origin HEAD
rb = !git fetch origin && git rebase --rebase-merges=no-rebase-cousins origin/HEAD
rba = rebase --abort
rbc = rebase --continue
unstage = reset --soft HEAD^
fuckit = reset --hard origin/HEAD
st = stash
stp = stash pop
ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
f = "!git ls-files | grep -i"
gr = grep -Ii
la = "!git config -l | grep alias | cut -c 7-"
[credential]
	helper = cache timeout=14400
