defaultPref("librewolf.webgl.prompt", true);
defaultPref("privacy.fingerprintingProtection.overrides", "+AllTargets,-CSSPrefersColorScheme");
defaultPref("privacy.fingerprintingProtection", true);
# defaultPref("privacy.resistFingerprinting.letterboxing", true);
defaultPref("privacy.resistFingerprinting", false);
defaultPref("toolkit.tabbox.switchByScrolling", true);
