sway/.themes/*
!sway/.themes/.gitkeep
sway/.config/gtk-3.0/bookmarks
sway/.icons/*
!sway/.icons/.gitkeep
sway/.config/waybar/modules/waybar-crypto/crypto/crypto.ini
sway/.config/pulse/*
!sway/.config/pulse/default.pa
sway/.config/waybar/modules/battery
