[submodule ".git_submodules/alacritty-theme"]
    path = .git_submodules/alacritty-theme
    url = https://github.com/alacritty/alacritty-theme.git
    branch = master
[submodule ".git_submodules/sweet-theme"]
    path = .git_submodules/sweet-theme
    url = https://github.com/EliverLara/Sweet.git
    branch = nova
    ignore = dirty
[submodule "zsh/.oh-my-zsh/themes/powerlevel10k"]
    path = omz/.oh-my-zsh/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git
    branch = master
[submodule "ulauncher/.config/ulauncher/user-themes/TokyoNight"]
    path = ulauncher/.config/ulauncher/user-themes/TokyoNight
    url = https://github.com/chadsr/TokyoNight-Ulauncher-Theme.git
    branch = master
[submodule "sway/.config/waybar/modules/crypto"]
    path = .git_submodules/waybar-crypto
    url = https://github.com/chadsr/waybar-crypto.git
    branch = master
[submodule ".git_submodules/hackneyed-cursor"]
    path = .git_submodules/hackneyed-cursor
    url = https://gitlab.com/Enthymeme/hackneyed-x11-cursors.git
    branch = master
[submodule ".git_submodules/catppuccin-bat"]
    path = .git_submodules/catppuccin-bat
    url = https://github.com/catppuccin/bat.git
    branch = main
    ignore = dirty
[submodule "omz/.oh-my-zsh/themes/powerlevel10k"]
    path = omz/.oh-my-zsh/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git
    branch = master
[submodule ".git_submodules/catppuccin-helix"]
    path = .git_submodules/catppuccin-helix
    url = https://github.com/catppuccin/helix.git
    branch = main
[submodule ".git_submodules/catppuccin-hyprland"]
    path = .git_submodules/catppuccin-hyprland
    url = https://github.com/catppuccin/hyprland.git
    branch = main
[submodule ".git_submodules/catppuccin-waybar"]
    path = .git_submodules/catppuccin-waybar
    url = https://github.com/catppuccin/waybar.git
    branch = main
