.vscode/
gtk/.themes/*
!gtk/.themes/.gitkeep
gtk/.icons/*
!gtk/.icons/.gitkeep
gtk/.config/gtk-3.0/bookmarks
gtk/.config/gtk-4.0/bookmarks
sway/.config/waybar/modules/crypto/crypto.ini
sway/.config/alacritty/colors
sway/.config/mimeapps.list
liquidctl/.local/bin/yoda
ssh/.ssh/*
!ssh/.ssh/.gitkeep
tidal-hifi/.config/tidal-hifi/*
!tidal-hifi/.config/tidal-hifi/.gitkeep
corectrl/.config/corectrl/profiles/*
freetube/.config/FreeTube/*
!freetube/.config/FreeTube/settings.db
gallery-dl/.config/gallery-dl/*
!gallery-dl/.config/gallery-dl/.gitkeep
vscodium/*
!vscodium/.config/VSCodium/User/globalStorage/zokugun.sync-settings/settings.yml
bat/.config/bat/themes/*
!bat/.config/bat/themes/.gitkeep
