.DS_Store
.vscode/
alacritty/.config/alacritty/themes
bat/.config/bat/themes/*
continue/.continue/*
cura/.config/cura/5.7/cura.cfg
data/pkgs/*
fonts/.local/share/fonts/TTF/cryptofont.ttf
freetube/.config/FreeTube/*
gallery-dl/.config/gallery-dl/*
gpg/.gnupg/gpg-agent.conf
gtk/.config/gtk-3.0/bookmarks
gtk/.config/gtk-4.0/bookmarks
gtk/.icons/*
gtk/.themes/Sweet/*
helix/.config/helix/themes/*
hyprland/.config/hypr/hostname.conf
hyprland/.config/hypr/themes/colors.conf
hyprland/.config/sunsetr/geo.toml
khal/.config/khal/*
khal/.config/vdirsyncer/*
pass/.password-store/*
prusaslicer/.config/PrusaSlicer/*
qt/.config/Kvantum/catppuccin-mocha-mauve
ssh/.ssh/*
tidal-hifi/.config/tidal-hifi/*
waybar/.config/waybar-crypto/config.ini
waybar/.config/waybar/theme.css
waybar/.local/share/fonts/TTF/*
xdg/.config/mimeapps.list
radicle/.radicle/keys/radicle
rofi/.config/rofi/catppuccin-mocha.rasi
system/shifty/boot/loader/entries/*
btop/.config/btop/themes/*
qbittorrent/.config/qBittorrent/*
android/.config/Google/**/migration/*
android/.config/Google/**/options/*
android/.config/Google/**/ssl/*
android/.config/Google/**/tasks/*
android/.config/Google/**/workspace/*
android/.config/Google/**/*.txt
android/.config/Google/**/*.db
android/.config/Google/**/*.jdk
android/.config/Google/**/*.lock
!android/.config/Google/**/disabled_plugins.txt
!android/.config/Google/**/options/linux/keymap.xml
!android/.config/Google/**/options/colors.scheme.xml
!android/.config/Google/**/options/console-font.xml
!android/.config/Google/**/options/editor-font.xml
!android/.config/Google/**/options/find.xml
!android/.config/Google/**/options/gradle.settings.xml
!android/.config/Google/**/options/ide.general.xml
!android/.config/Google/**/options/ide.general.local.xml
!android/.config/Google/**/options/jupyter-settings-v2.xml
!android/.config/Google/**/options/laf.xml
!android/.config/Google/**/options/project.default.xml
!android/.config/Google/**/options/runner.layout.xml
!android/.config/Google/**/options/terminal-font.xml
!android/.config/Google/**/options/ui.lnf.xml
!android/.config/Google/**/options/window.layouts.xml
!android/.config/Google/**/options/ContinueExtensionSettings.xml
!qbittorrent/.config/qBittorrent/.gitkeep
!system/shifty/boot/loader/entries/.gitkeep
!bat/.config/bat/themes/.gitkeep
!continue/.continue/config.json
!data/pkgs/*.asc.gpg
!freetube/.config/FreeTube/settings.db
!gallery-dl/.config/gallery-dl/.gitkeep
!gtk/.icons/.gitkeep
!gtk/.themes/Sweet/.gitkeep
!helix/.config/helix/themes/.gitkeep
!khal/.config/khal/.gitkeep
!khal/.config/vdirsyncer/.gitkeep
!pass/.password-store/.gpg-id
!pass/.password-store/*.gpg
!prusaslicer/.config/PrusaSlicer/.gitkeep
!ssh/.ssh/yk.pub
!tidal-hifi/.config/tidal-hifi/.gitkeep
!waybar/.config/waybar/modules/crypto/.gitkeep
!waybar/.local/share/fonts/TTF/.gitkeep
!btop/.config/btop/themes/.gitkeep
