* {
  all: unset;
  font-size: 14px;
  font-family: "Hack Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: #cdd6f4;
}

scale trough {
  margin: 0rem 1rem;
  background-color: rgba(0, 11, 30, 0.8);
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #89b4fa;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  margin: 18px;
  background-color: rgba(0, 11, 30, 0.9);
  border: 1px solid #0abcc6;
  color: #0abcc6;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #ea00d9;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  padding-left: 7px;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: #0abcc6;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #0abcc6;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #0abcc6;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  color: #0abcc6;
  background-color: rgba(0, 11, 30, 0.8);
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: rgba(0, 11, 30, 0.8);
  color: #0abcc6;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #0abcc6;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  color: rgba(0, 11, 30, 0.9);
  background-color: #ea00d9;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #ea00d9;
  color: rgba(0, 11, 30, 0.9);
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #ea00d9;
  color: rgba(0, 11, 30, 0.9);
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border: 1px solid #0abcc6;
  background-color: rgba(0, 11, 30, 0.9);
  color: #0abcc6;
  padding: 16px;
}

.control-center .widget-title>label {
  color: #0abcc6;
  font-size: 1.3em;
}

.control-center .widget-title button {
  color: #0abcc6;
  background-color: rgba(0, 11, 30, 0.8);
  box-shadow: inset 0 0 0 1px #45475a;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #585b70;
  color: #0abcc6;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: rgba(0, 11, 30, 0.9);
}

.control-center .notification-row .notification-background {
  color: #0abcc6;
  background-color: rgba(0, 11, 30, 0.8);
  box-shadow: inset 0 0 0 1px #45475a;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #ea00d9;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #0abcc6;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #0abcc6;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  color: #0abcc6;
  background-color: #11111b;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: rgba(0, 11, 30, 0.8);
  color: #0abcc6;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #0abcc6;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  color: rgba(0, 11, 30, 0.9);
  background-color: #ea00d9;
}

.close-button {}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #ea00d9;
  color: rgba(0, 11, 30, 0.9);
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #ea00d9;
  color: rgba(0, 11, 30, 0.9);
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #7f849c;
  color: #0abcc6;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #45475a;
  background-color: #74c7ec;
  color: #0abcc6;
}

.notification.critical progress {
  background-color: #ea00d9;
}

.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

.control-center-dnd {
  margin-top: 5px;
  background: #313244;
  border: 1px solid #45475a;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #313244;
}

.control-center-dnd slider {
  background: #45475a;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  background: #313244;
  border: 1px solid #45475a;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: #313244;
}

.widget-dnd>switch slider {
  background: #45475a;
  border: 1px solid #6c7086;
}

.widget-mpris .widget-mpris-player {
  background: #313244;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar>box>.menu-button-bar>button>label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar>box>.menu-button-bar> :last-child {
  color: #ea00d9;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label>label {
  color: #0abcc6;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #74c7ec;
}

.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight scale {
  margin-right: 1rem;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}