[Unit]
Description=SwayOSD Multimedia Notification Service
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/swayosd-server
[Install]
WantedBy=sway-session.target
