[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'swaylock-corrupt' \
    timeout 3600 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
    before-sleep 'swaylock-corrupt'
[Install]
WantedBy=sway-session.target
