[Unit]
Description=Rotate display when gyro changes
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/.local/bin/gyro-rotate

[Install]
WantedBy=sway-session.target
