[Unit]
Description=Wlr-Sunclock
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/wlr-sunclock \
--width 200 \
--layer bottom \
--anchors tr \
--border-width 0 \
--colour-ocean "#000b1ecc" \
--colour-land "#0abdc6ff"

[Install]
WantedBy=sway-session.target
WantedBy=hypr-session.target
