[Unit]
Description=Clipse clipboard manager
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/clipse -listen-shell

[Install]
WantedBy=sway-session.target
