[Unit]
Description=Enable linger for current user

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'loginctl enable-linger "${USER}"'

[Install]
WantedBy=default.target
