[Unit]
Description=Wlr-Sunclock
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/wlr-sunclock \
--width 200 \
--layer bottom \
--anchors tr \
--colour-ocean "#1e1e2e" \
--colour-land "#cba6f7"

[Install]
WantedBy=sway-session.target
WantedBy=hypr-session.target
