[Unit]
Description=Gammastep needs to get a (geo)clue
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/geoclue-2.0/demos/agent
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
