[Unit]
Description=Clipse listener
PartOf=graphical-session.target
After=graphical-session.target

[Service]
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/bin/clipse -listen

[Install]
WantedBy=sway-session.target
WantedBy=hypr-session.target
