[Unit]
Description=Dunst notification daemon
PartOf=graphical-session.target
After=graphical-session.target
Before=dunst.service
Conflicts=dunst.service

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/dunst
Slice=session.slice

[Install]
WantedBy=sway-session.target
WantedBy=hypr-session.target
