* {
    border: none;
    border-radius: 0;
    font-family: Hack, "FontAwesome 5 Free Solid";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: #0abdc6;
    transition-property: background, background-color;
    transition-duration: .5s;
    border-bottom: 1px solid rgba(43, 48, 59, 0.5);
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background: transparent;
}
window#waybar.solo {
    background: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #DEE1E6;
    color: #000000;
    border: none;
} */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #0abdc6;
    /* border-bottom: 3px solid transparent; */
}

/* window#waybar.chromium #workspaces button {
    color: #3F3F3F;
} */

#workspaces button.focused {
    color: #123e7c;
    background-color: #0abdc6;
    border-bottom: 1px solid rgba(43, 48, 59, 0.5);
}

/* window#waybar.chromium #workspaces button.focused {
    color: #ffffff;
} */

#workspaces button.urgent {
    background-color: #6100FF;
}

#mode {
    background: #123e7c;
    border-bottom: 1px solid rgba(43, 48, 59, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#custom-crypto {
    padding: 0 10px;
    margin: 0;
    color: #0abdc6;
}

/* #clock {
    background-color: #64727D;
} */

/* #battery {
    background-color: #ffffff;
} */

#battery.charging {
    color: #00ff00;
    /* background-color: #26A65B; */
}

@keyframes blink {
    to {
        background-color: #0abdc6;
        color: #123e7c;
    }
}

#battery.critical:not(.charging) {
    background-color: #6100FF;
    color: #123e7c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #6100FF;
}

/*#cpu {
    background: #2ecc71;
    color: #fff;
} */

/* #memory {
    background: #9b59b6;
} */

/* #backlight {
    background: #0dd3d3;
} */

/* #network {
    background: #29b930;
} */

#network.connected {
    background: #00ff00;
}

/* #network.disconnected {
    background: #f53c3c;
} */

/* #pulseaudio {
    background: #f1c40f;
    color: #000000;
} */

/* #pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
} */

/* #custom-media {
    background: #66cc99;
    color: #2a5c45;
} */

/* #custom-weather {
    background: #2e6d97;
} */

#custom-crypto {
    font-family: cryptocoins, monospace;
    /* background: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed); */
}

/* 
#custom-vlc {
    background: #ffa000;
} */

/* #temperature {
    background: #f0932b;
} */

#temperature.critical {
    background: #6100FF;
}

/* #tray {
    background-color: #2980b9;
} */

/* #idle_inhibitor {
    background-color: #2d3436;
} */

#idle_inhibitor.activated {
    background-color: #0abdc6;
    color: #123e7c;
    border-bottom: 1px solid rgba(43, 48, 59, 0.5);
}

#mpd {
    margin-left: 5px;
}

/* #mpd.disconnected {
    background: #6100FF;
} */

/* #mpd.stopped {
    background: #90b1b1;
}

#mpd.paused {
    background: #51a37a;
} */