[Unit]
Description=Radeon-Profile Desktop Client
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/radeon-profile
Restart=always
RestartSec=3
EnvironmentFile=/etc/environment

[Install]
WantedBy=default.target
