[Unit]
Description=Liquidctl

[Service]
Type=oneshot
Restart=on-failure
RestartSec=1s
ExecStart=liquidctl initialize all
ExecStart=liquidctl set logo color off
ExecStart=liquidctl set ring color water-cooler --speed slowest 000000 6100FF

[Install]
WantedBy=multi-user.target
