[Unit]
Description=Liquidctl
After=graphical-session.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=5s
ExecStart=liquidctl initialize all
ExecStart=liquidctl set logo color off
ExecStart=liquidctl set ring color water-cooler --speed slowest 000000 8800ff

[Install]
WantedBy=graphical-session.target
