# shellcheck shell=bash

alias virtualbox='env QT_QPA_PLATFORM=xcb virtualbox'
alias emulator='env QT_QPA_PLATFORM=xcb emulator'
alias android-studio='env QT_QPA_PLATFORM=xcb android-studio'

alias vim='nvim'
alias vi='nvim'
alias vimdiff='nvim -d'
alias cat='bat --paging=never'
alias catp='bat'
# shellcheck disable=SC2142
alias catcp='f() { cat "$1" | wl-copy };f'
alias hx='helix'
alias h='hx .'
alias calculator='kalker'
alias calc='calculator'
alias htop=btop

# vscodium
alias code='codium'
alias c='code . && exit'

alias dotfiles='cd $DOTFILES'
alias dots='dotfiles'

alias ua-drop-caches='sudo paccache -rk3; yay -Sc --aur --noconfirm'
alias update-mirrors='export TMPFILE="$(mktemp)"; \
    sudo true; \
    rate-mirrors --save=$TMPFILE arch --max-delay=21600 \
      && sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist-backup \
      && sudo mv $TMPFILE /etc/pacman.d/mirrorlist \
      && ua-drop-caches \
      && yay -Syyu --noconfirm'
