alias VirtualBox='env QT_QPA_PLATFORM=xcb VirtualBox'
alias virtualbox='env QT_QPA_PLATFORM=xcb virtualbox'
alias vim='nvim'
alias vi='nvim'
alias cat='bat'
alias catcp='f() { cat "$1" | wl-copy };f'
alias hx='helix'
alias calculator='kalker'
alias calc='calculator'

# Use vscodium when code is run
alias code='f() { codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --unity-launch "$1" }; f'
alias c='code . && exit'