# shellcheck shell=bash

alias virtualbox='env QT_QPA_PLATFORM=xcb virtualbox'
alias emulator='env QT_QPA_PLATFORM=xcb emulator'
alias android-studio='env QT_QPA_PLATFORM=xcb android-studio'

alias vim='nvim'
alias vi='nvim'
alias vimdiff='nvim -d'
alias cat='bat --paging=never'
alias catp='bat'
# shellcheck disable=SC2142
alias catcp='f() { cat "$1" | wl-copy };f'
alias hx='helix'
alias h='hx .'
alias calculator='kalker'
alias calc='calculator'
alias htop=btop

# git
alias gitcm='git cm'
alias gitst='git st'
alias gitstp='git stp'
alias gitsts='git sts'
alias gitadd='git add'
alias gitrb='git rb'
alias gitrba='git rba'
alias gitrbc='git rbc'
alias gitp='git po'
alias gitpf='git po -f'
alias gitpl='git pull'
alias gitfea='git fea'
alias gitnbr='git cob'
alias gitls='git ls'
alias gitll='git ll'
alias gitla='git la'
alias gitcl='git clone'
alias gitfixup='git rebase -i HEAD~2'
alias gitstat='git status'

# vscodium
alias code='codium'
alias c='code . && exit'

alias dotfiles='cd $DOTFILES'
alias dots='dotfiles'

alias gooses='env GOOSE_EDITOR_API_KEY=$(pass show GOOSE_EDITOR_API_KEY) goose session'

alias ua-drop-caches='sudo paccache -rk3; yay -Sc --aur --noconfirm'
alias update-mirrors='export TMPFILE="$(mktemp)"; \
    sudo true; \
    rate-mirrors --save=$TMPFILE arch --max-delay=21600 \
      && sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist-backup \
      && sudo mv $TMPFILE /etc/pacman.d/mirrorlist \
      && ua-drop-caches \
      && yay -Syyu --noconfirm'
