on:
    push:
        branches:
            - main
    pull_request:

name: "Lint"
permissions:
    contents: read

jobs:
    lint:
        name: Lint (pre-commit)
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: j178/prek-action@v1
              with:
                  extra-args: "--all-files"
